---
layout: default
---
<article class="post">
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}

    <div class="post-links">
      {% if page.next.url %}
        <a class="link-to-post" href="{{ page.next.url | relative_url}}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ page.next.title }}</span>
        </a>
      {% endif %}

      {% if page.previous.url %}
        <a class="link-to-post" href="{{ page.previous.url | relative_url}}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
      {% if site.comments.gitalk %}
      <script>
          var gitalk = new Gitalk({
            clientID: '{{ site.comments.gitalk_clientID }}',
            clientSecret: '{{ site.comments.gitalk_Secret }}',
            repo: '{{ site.comments.gitalk_repo }}',
            owner: '{{ site.comments.gitalk_owner }}',
            admin: '{{ site.comments.gitalk_admin }}',
            id: location.pathname,
            distractionFreeMode: '{{ site.comments.distractionFreeMode }}'
          })
          gitalk.render('gitalk_container')
      </script>
      <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
      {% endif %}
    </div>
  </div>
</article>
